body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('/background.png') no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.card-explorer {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.color-swatch {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-right: 10px;
}

.color-invalid {
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}